@import "tailwindcss";

@theme {
  --color-strength-medium: #ff00f6;
  --color-strength-strong: #8b5cf6;
}

@layer base {
  body {
    @apply antialiased bg-white text-gray-800 text-base;
    font-family: "Inter", "A P-OTF A1Gothic StdN M";
  }
}

@layer components {
  .card {
    @apply p-8 rounded-4xl bg-white/5 bg-linear-to-tr from-white/20 via-white/10 to-white/5 backdrop-blur-md border border-white/30 shadow-[0_12px_48px_0_rgba(0,0,0,0.12)] ring-1 ring-inset ring-white/25;
  }
}
